version: '3.9'

services:
  db:
    image: postgres:15-alpine
    container_name: memorygame_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: memorygame_db
      POSTGRES_USER: memorygame_user
      POSTGRES_PASSWORD: Temporal123Strong
    ports:
      - "5432:5432"
    restart: always
    
  web:
    build: .
    container_name: memorygame_web
    command: gunicorn project_memory.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./backend:/app
      - static_volume:/app/staticfiles
    expose:
      - 8000
    env_file:
      - .env
    depends_on:
      - db
    restart: always
    
  nginx:
    image: nginx:latest
    container_name: memorygame_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - web
    restart: always
    
volumes:
  static_volume:
  postgres_data:
